/*
 * tsv2html.css
 *
 * GPLv3 --- Copyright (C) 2018 Olivier Pirson
 * Olivier Pirson --- http://www.opimedia.be/
 * August 24, 2018
 */

table.data > tbody > tr > th { padding: 0 0.5ex; }
table.data > thead > tr > th { padding: 0 0.5ex; }

table.data > tbody > tr > th:first-child {
    background-color: white !important;

    border-bottom: 0 none !important;
    border-left: 0 none !important;
    border-top: 0 none !important;
}

table.data > thead > tr > th:first-child {
    border-bottom: 0 none !important;
    border-left: 0 none !important;
    border-top: 0 none !important;
}



.green { color: green; }

.red {
    color: red;
    font-weight: bold;
}


.int { text-align: right; }


.empty { background-color: #FFE0E0; }

.identity { opacity: 0.3; }

.same { opacity: 0.3; }

.sep {
    border-right: 2px solid black !important;
    padding: 1px !important;
    width: 0 !important;
}
